@font-face {
    font-family: 'PPMori';
    src: url('font/PPMori-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PPMori';
    src: url('font/PPMori-SemiBold.woff2') format('opentype');
    font-weight: 600;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    letter-spacing: -.02em;
}

:root {
    --black: #211B4F;
    --black_2: #2B2655;
    --white: #fff;
    --background: #211B4F;
    --purple: #8071DE;
}

::selection {
    background-color: #8071DE;
    color: #fff;
}

.lightmode {
    --black: #fff !important;
    --black_2: #dcdbdd !important;
    --white: #45415c !important;
    --background: #e5e1e6 !important;
    --purple: #6557b4 !important;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--white) !important;
    display: grid;
    justify-content: center;
    gap: 100px;
    overflow-x: hidden;
    font-family: 'PPMori', fallback, sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

#case_sesavit {
    background-color: #351456;
}

#case_smpl {
    background-color: #0E234D;
}

#case_juridify {
    background-color: #1c003e;
}

header {
    width: 100vw;
    display: grid;
}

header .header_content {
    margin: 40px 0px;
    justify-self: center;
    width: calc(100vw - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo svg path,
.logo_2 svg path {
    fill: var(--white);
}

.logo svg path:nth-child(n+4):nth-child(-n+16) {
    opacity: 0 !important;
    transform: translateX(-10px);
    transition: .3s;
}

.logo svg:hover path:nth-child(n+4):nth-child(-n+16) {
    opacity: 1 !important;
    transform: translateX(0px);
    transition: .3s;
}

.logo_2 {
    display: none;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--white);
    opacity: .1;
}

.hero_section {
    width: calc(100vw - 100px);
    display: grid;
    justify-content: center;
    gap: 35px;
    text-align: center;
    justify-self: center;
}

h1 {
    font-weight: 400;
    max-width: 15ch;
    font-size: 7.625em;
    line-height: 110%;
    overflow-y: hidden;
}

h2 {
    font-weight: 400;
    font-size: 7.5em;
    line-height: 100%;
}


.work_banner:hover .work_img {
    transition: 0.3s;
    transform: scale(1.05);
}

.juridify_banner {
    background-image: url(images/work-juridify.png);
}

.juridify_banner:hover {
    transform: scale(1.05) rotate(.8deg) !important;
}

.smpl_banner {
    background-image: url(images/work-smpl.png);
}

.sesavit_banner {
    background-image: url(images/work-sesavit.png);
}

.work_banner.is-small {
    height: 700px;
}

.work_details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.work_details h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.625em;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white)
}

.work_details span {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 100%;
    color: var(--white);
    opacity: .7;
}

header .header_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    font-weight: 600;
    font-size: 1.125em;
    text-decoration: none;
    color: var(--white);
    position: relative;
    vertical-align: top;
    overflow: hidden;
}

header .lightmode_version {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

header .header_btn::after {
    position: absolute;
    width: 100%;
    content: attr(data-replace);
    text-align: center;
    transform-origin: 50% 100%;
    transform: translate3d(0, 200%, 0);
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
    color: var(--white);
    opacity: .9;
}

header .header_btn:hover::after {
    transform: translate3d(0, 0, 0);
}

header .header_btn span {
    display: inline-block;
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
    opacity: .9;
}

header .header_btn:hover span {
    transform: translate3d(0, -200%, 0);
}

.about_section {
    width: calc(100vw - 100px);
    justify-self: center;
    display: grid;
    justify-content: center;
}

.about_content {
    display: grid;
    justify-content: left;
    gap: 45px;
}

.about_h1 {
    font-weight: 400 !important;
    font-size: 5.75em;
    line-height: 110%;
    color: var(--white);
    overflow-y: hidden;
}

h1 span {
    font-style: italic;
}

p {
    font-weight: 400;
    font-size: 1.375em;
    line-height: 150%;
    color: var(--white);
    opacity: .7;
    max-width: 45ch;
    hanging-punctuation: first last !important;
}

.buttonmain {
  padding-top: 1113em;
}

.button {
    display: flex;
    cursor: pointer;
    justify-self: center;
    text-decoration: none;
}

.is-left-aligned {
    justify-self: left;
}

.button .button_icon {
    background-color: var(--purple);
    border-radius: 100%;
    width: 69px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    align-self: center;
    justify-self: center;
}

.button .icon_right {
    transform: scale(1);
    visibility: visible;
    animation-delay: .4s;
    margin-left: 5px;
}

.button:hover .icon_right {
    transition: .3s;
    transform: scale(0) rotate(45deg);
    visibility: hidden;
    margin-left: 0px;
}

.button .icon_left {
    transform: scale(0) rotate(-45deg);
    visibility: hidden;
    animation-delay: .4s;
    width: 0px;
    width: 0px;
    aspect-ratio: 1 / 1;
    margin-right: 0px;
}

.button:hover .icon_left {
    transition: .3s;
    transform: scale(1) rotate(45deg);
    visibility: visible;
    width: 69px;
    height: 69px;
    margin-right: 5px;
}

.button li {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(146, 132, 231, 0.3);
    text-transform: uppercase;
    color: var(--purple);
    font-weight: 600;
    font-size: 1.125em;
    padding: 0px 35px;
    border-radius: 100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: scale(.8);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black_2);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--purple);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mode_toggle {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mode_toggle li {
    list-style-type: none;
    font-weight: 400;
    font-size: 1em;
    color: var(--white);
    opacity: .7;
}

@media only screen and (min-width: 1050px) {
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #c0c0c0;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a0a0a0;
    }
}

.case_section .case_content .text_box {
    display: grid;
    gap: 20px;
}

.case_section .case_container {
    width: 50vw;
}

.case_section .case_container .case_hero {
    display: grid;
    gap: 50px;
}

.case_section .case_container .case_hero .case_details {
    display: flex;
    gap: 35px;
}

p span {
    font-weight: 600;
}

.case_section .case_details p {
    opacity: .6;
    font-size: 1.25em;
}

.case_section .case_content {
    display: grid;
    gap: 100px;
}

.case_section .case_content img {
    border-radius: 3px;
    width: 100%;
}

.case_section .case_content li {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 150%;
    color: var(--white);
    opacity: .4;
    list-style-type: none;
}

.case_section .scroll_to_top {
    background-color: #ffffff13;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: .3s;
    z-index: 100;
}

.case_section .scroll_to_top:hover {
    background-color: var(--purple);
    transition: .3s;
}

@media only screen and (max-width: 1800px) {
    .case_section .case_container {
        width: 70vw;
    }
}

@media only screen and (max-width: 1650px) {
    .work_banner.is-small {
        height: 650px;
    }

    .work_banner {
        height: 850px;
    }
}

@media only screen and (max-width: 1500px) {
    h1 {
        font-size: 6.625em;
    }

    .work_banner.is-small {
        height: 600px;
    }

    .work_banner {
        height: 800px;
    }

    .testimonials_section .testimonial_container {
        width: 70vw;
    }

    .testimonials_section .testimonial_container .content {
        width: calc(70vw - 100px);
    }
}

@media only screen and (max-width: 1300px) {
    .case_section .case_container {
        width: calc(100vw - 100px);
    }
}

@media only screen and (max-width: 1250px) {

    h1,
    .footer_h2,
    h2 {
        font-size: 6.625em;
    }

    .case_section h1,
    .testimonials_section .testimonial_container .content h1,
    .about_h1 {
        font-size: 4.75em;
    }

    p {
        font-size: 1.275em;
    }

    .work_banner.is-small {
        height: 550px;
    }

    .work_banner {
        height: 700px;
    }
}

@media only screen and (max-width: 1130px) {
    .testimonials_section .testimonial_container {
        width: 100vw;
    }

    .testimonials_section .testimonial_container .content {
        width: calc(100vw - 100px);
    }

    .testimonials_section .overlay {
        z-index: -1;
    }

    .testimonials_section .testimonial_container .close_btn {
        position: sticky;
        right: 20px;
        top: 20px;
        background-color: var(--black);
        border-radius: 100px;
        padding: 15px;
        display: flex;
        justify-self: right;
        cursor: pointer;
        transition: .3s;
        z-index: 100;
    }

    .testimonials_section .testimonial_container .close_btn svg {
        width: 17px;
        height: 17px;
    }
}

@media only screen and (max-width: 1075px) {
    .button li {
        font-size: 1.1em;
    }

    h1 {
        font-size: 5.625em;
    }
}

@media only screen and (max-width: 1050px) {
    .secondary_work_section {
        display: grid;
        gap: 50px;
    }

    .work_banner.is-small,
    .work_banner {
        height: 650px;
    }

    header .header_content,
    .hero_section,
    .primary_work_section,
    .service_container,
    .about_section,
    .secondary_work_section,
    footer,
    .secondary_work_section .work_box,
    .testimonials_section .testimonial_container .content,
    .case_section .case_container {
        width: calc(100vw - 50px);
    }
}

@media only screen and (max-width: 920px) {
    .about_section {
        justify-content: left;
    }

    h1 {
        font-size: 4.625em;
    }
}

@media only screen and (max-width: 880px) {
    h1 {
        font-size: 4em;
    }

    footer .footer_details h5,
    footer .footer_details .vertical_divider {
        display: none;
    }
}

@media only screen and (max-width: 680px) {
    h1,
    .footer_h2,
    h2  {
        font-size: 5em;
    }

    .case_section h1,
    .testimonials_section .testimonial_container .content h1,
    .about_h1 {
        font-size: 4em;
    }

    .hero_section {
        text-align: left;
    }

    .hero_section .button {
        justify-self: left;
    }

    .service_container {
        display: none;
    }    
}

@media only screen and (max-width: 550px) {
    .work_banner.is-small,
    .work_banner {
        height: 600px;
    }

    .footer_h2,
    h2,
    .case_section h1,
    .testimonials_section .testimonial_container .content h1,
    .about_h1  {
        font-size: 4.5em;
    }

    .work_details h5 {
        font-size: 1.425em;
    }
    
    .work_details span {
        font-size: 1.3em;
    }

    .case_section .case_container .case_hero .case_details {
        display: grid;
        gap: 10px;
    }

    .case_section .case_content h3 {
        font-size: 2em;
    }

    p.big_p {
        font-size: 1.8em;
        line-height: 130%;
    }

    .case_section .case_content li {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 500px) {
    h2,
    .case_section h1,
    .testimonials_section .testimonial_container .content h1,
    .about_h1,
    h1 {
        font-size: 4em;
    }

    .logo {
        display: none;
    }

    .logo_2 {
        display: block;
    }

    .work_banner.is-small,
    .work_banner {
        height: 450px;
    }
}

@media only screen and (max-width: 430px) {
    header .header_content,
    .hero_section,
    .primary_work_section,
    .service_container,
    .about_section,
    .secondary_work_section,
    footer,
    .secondary_work_section .work_box,
    .testimonials_section .testimonial_container .content,
    .case_section .case_container {
        width: calc(100vw - 20px);
    }
}

@media only screen and (max-width: 400px) {
    h2,
    .case_section h1,
    .testimonials_section .testimonial_container .content h1,
    .about_h1 {
        font-size: 3.5em;
    }

    p {
        font-size: 1.2em;
    }
}

.loader {
    width: 100vw;
    height: 100vh;
    background-color: var(--purple);
    animation: pop-in-2 .5s;
    animation-fill-mode: forwards;
    position: fixed;
    z-index: 0;
}

@keyframes pop-in-2 {
    from {
        width: 100vw;
    }

    to {
        width: 0vw;
    }
}

.show-animation {
    animation: pop-in 1s;
    animation-fill-mode: forwards;
}

@keyframes pop-in {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: auto;
        transform: translateY(0px);
    }
}
